- @title = "#{@show.name}"

%h1.display-4
  = @show.name
  %span.ml-3.text-eton= @show.year

%p.description
  - unless @show.description
    %em.text-muted This show has no description.
  - else
    %em= @show.description

- if logged_in?
  %p
    .row.mb
      .col-auto
        %form(action="/shows/#{@show.id}/edit")
          %button.btn.btn-outline-midnight(type="submit")
            %i.fas.fa-cog.mr-1
            Edit Show

      - if current_user.shows.include?(@show)
        .col-auto
          %form(action="/shows/#{ @show.id }/watched" method="post")
            %input(type="hidden" name="_method" value="patch")
            %input(type="hidden" name="user_id" value="#{current_user.id}")
            %button.btn.btn-outline-midnight(type="submit")
              - if watched?(@show)
                %i.far.fa-check-circle.mr-1
                Watched
              - else
                %i.far.fa-circle.mr-1
                Not Watched

        .col-auto
          %form(action="/shows/#{ @show.id }/remove_user" method="post")
            %input(type="hidden" name="_method" value="patch")
            %input(type="hidden" name="user_id" value="#{current_user.id}")
            %button.btn.btn-outline-midnight(type="submit")
              %i.fas.fa-minus.mr-1
              Remove from Shows
      - else
        .col-auto
          %form(action="/shows/#{@show.id}/add_user" method="post")
            %input(type="hidden" name="_method" value="patch")
            %input(type="hidden" name="user_id" value="#{current_user.id}")
            %button.btn.btn-outline-midnight(type="submit")
              %i.fas.fa-plus.mr-1
              Add to Shows

      .col-auto
        %form(action="/shows/#{@show.id}/delete" method="post")
          %input(type="hidden" name="_method" value="delete")
          %button.btn.btn-outline-midnight(type="submit")
            %i.fas.fa-trash-alt.mr-1
            Delete Show
  %br

%h1.text-emerald Users

.row
  - @users.each do |user|
    .col-auto
      %a(href="/users/#{user.slug}")
        .card.mb-2
          .card-body
            %strong= user.username